robotRCAdemo/force-app/main/default/flows/Discover_Products_Flow_Custom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Additional_Context_info</name>
        <label>Get Additional Context info</label>
        <locationX>344</locationX>
        <locationY>242</locationY>
        <actionName>DiscoverProductFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getProductCatalogs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Quote_Record.OpportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DiscoverProductFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets CatalogQuantity to the number of catalogs in the Catalogs from getProductCatalogs record collection.</description>
        <name>SetCatalogQuantity</name>
        <label>Set Catalog Quantity</label>
        <locationX>158</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CatalogQuantity</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getProductCatalogs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsSingleCatalog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the selectedCatalog record variable to the current item in the loop.</description>
        <name>SetSingleCatalogVariable</name>
        <label>Set Single Catalog Variable</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>selectedCatalog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RunActionForCatalog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RunActionForCatalog</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether catalogs were found by checking if the Catalogs from getProductCatalogs collection variable contains records.</description>
        <name>isCatalogListEmpty</name>
        <label>Is the Catalog List Empty?</label>
        <locationX>344</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>noCatalogPresentScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>catalogListNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProductCatalogs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCatalogQuantity</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if a single catalog was found by checking if the CatalogQuantity value is 1.</description>
        <name>IsSingleCatalog</name>
        <label>Is Single Catalog?</label>
        <locationX>158</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>catalogListScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>HasSingleCatalog</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CatalogQuantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunActionForCatalog</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Discover Products Flow Custom {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Discover Products Flow Custom</label>
    <loops>
        <description>Runs an action for the catalog record in the record in Catalogs from getProductCatalogs record collection.</description>
        <name>RunActionForCatalog</name>
        <label>Run Action for Catalog</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <collectionReference>getProductCatalogs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetSingleCatalogVariable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>productListView</targetReference>
        </noMoreValuesConnector>
    </loops>
    <overriddenFlow>revenue_products__DiscoverProducts</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>344</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Additional_Context_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all catalog records and sorts them by name ascending. Stores the name, code, number of categories, and last modified date of the results in the Catalogs from getProductCatalogs record collection variable.</description>
        <name>getProductCatalogs</name>
        <label>Get Catalogs</label>
        <locationX>344</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isCatalogListEmpty</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductCatalog</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Code</queriedFields>
        <queriedFields>NumberOfCategories</queriedFields>
        <queriedFields>LastModifiedDate</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Displays a list of all product catalogs for the user to select.</description>
        <name>catalogListScreen</name>
        <label>List of Catalogs</label>
        <locationX>266</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>productListView</targetReference>
        </connector>
        <fields>
            <name>pcDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ProductCatalog</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>All Catalogs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getProductCatalogs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3ade&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Code&quot;,&quot;guid&quot;:&quot;column-2a52&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;NumberOfCategories&quot;,&quot;guid&quot;:&quot;column-e1d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Number of Categories&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;LastModifiedDate&quot;,&quot;guid&quot;:&quot;column-684c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Last Modified Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedCatalog</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>If no catalogs are returned by Get Catalogs, you must create a catalog before using this flow</description>
        <name>noCatalogPresentScreen</name>
        <label>No Catalogs Present</label>
        <locationX>530</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noCatalogErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;background-color: rgb(255, 255, 255);&quot;&gt;Unable to browse catalogs&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>noCatalogErrorDescription</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;To use Browse Catalogs, choose or create a catalog to store the categories.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays the list of products from the selected product catalog.</description>
        <name>productListView</name>
        <label>Product list</label>
        <locationX>158</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>plpContainer</name>
            <extensionName>runtime_revenue_products:prdLstContainer</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>catalogId</name>
                <value>
                    <elementReference>selectedCatalog.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>catalogName</name>
                <value>
                    <elementReference>selectedCatalog.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>objectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupId</name>
                <value>
                    <elementReference>discoverProductsContext.groupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupName</name>
                <value>
                    <elementReference>discoverProductsContext.groupName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalContextData</name>
                <value>
                    <elementReference>Get_Additional_Context_info.additionalContextData</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>218</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores the number of catalogs in the Catalogs from getProductCatalogs record collection.</description>
        <name>CatalogQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Additional context for the DiscoverProducts flow</description>
        <name>discoverProductsContext</name>
        <apexClass>ProductConfig__DiscoverProductsContext</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The object api name of the transaction record to display a product list for.</description>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The record id which the flow is invoked from. For example: Quote Id.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a catalog record.</description>
        <name>selectedCatalog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCatalog</objectType>
    </variables>
</Flow>
